@page "{id:int?}"
@model RazorPagesAudios.Pages.Audios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Audio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Audio.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio.Performer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Audio.Performer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Audio.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Audio.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio.TracksNumbers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Audio.TracksNumbers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio.TotalDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Audio.TotalDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Audio.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Audio.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Audio.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Audio?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
